################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/CarBook/CarBook.sln
/CarBook/CarBook.sln
/CarBook/CarBook.sln
/CarBook/CarBook.sln
/CarBook/CarBook.sln
